ESP32/Pressure_and_Tempreture_and_GPS/node-red App.txt

[{"id":"24520e10fdca4fbc","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b2d67db39a706968","type":"mqtt in","z":"24520e10fdca4fbc","name":"","topic":"esp32/Sensors/Graduation_Project","qos":"2","datatype":"auto-detect","broker":"aa12e9813344faa2","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":320,"wires":[["75ec61921271e5b3","5861e5dd55b8770f","e31f9d0612e5dc25"]]},{"id":"75ec61921271e5b3","type":"function","z":"24520e10fdca4fbc","name":"BMP180 Pressure","func":"const data = msg.payload;\nconst regex = /Pressure: ([0-9.]+) Pa/;\nconst match = data.match(regex);\nif (match) {\n  msg.payload = parseFloat(match[1]);\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":220,"wires":[["d37a281f6265fc6b","d3a3574aa00c44d6"]]},{"id":"d37a281f6265fc6b","type":"ui_gauge","z":"24520e10fdca4fbc","name":"","group":"ee0fca3bc187cde4","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":780,"y":220,"wires":[]},{"id":"5eacef87635353e5","type":"ui_gauge","z":"24520e10fdca4fbc","name":"","group":"5378b93b5f482670","order":1,"width":0,"height":0,"gtype":"gage","title":"Tempreture","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":790,"y":420,"wires":[]},{"id":"2fec5b1b11d7d22d","type":"ui_gauge","z":"24520e10fdca4fbc","name":"","group":"ee0fca3bc187cde4","order":2,"width":0,"height":0,"gtype":"gage","title":"Tempreture","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":790,"y":320,"wires":[]},{"id":"5861e5dd55b8770f","type":"function","z":"24520e10fdca4fbc","name":"LM35 Tempreture","func":"const data = msg.payload;\nconst regex = /LM35 Temperature: ([0-9.]+) °C/;\nconst match = data.match(regex);\nif (match) {\n  msg.payload = parseFloat(match[1]);\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":420,"wires":[["5eacef87635353e5","e2eb03d16d2a721e"]]},{"id":"e31f9d0612e5dc25","type":"function","z":"24520e10fdca4fbc","name":"BMP180 Tempreture","func":"const data = msg.payload;\nconst regex = /BMP085 Temperature: ([0-9.]+) °C/;\nconst match = data.match(regex);\nif (match) {\n  msg.payload = parseFloat(match[1]);\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["2fec5b1b11d7d22d","9b6a7b159f845078"]]},{"id":"d3a3574aa00c44d6","type":"debug","z":"24520e10fdca4fbc","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":180,"wires":[]},{"id":"9b6a7b159f845078","type":"debug","z":"24520e10fdca4fbc","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":280,"wires":[]},{"id":"e2eb03d16d2a721e","type":"debug","z":"24520e10fdca4fbc","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":380,"wires":[]},{"id":"aa12e9813344faa2","type":"mqtt-broker","name":"","broker":"Test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ee0fca3bc187cde4","type":"ui_group","name":"BMP180","tab":"e3c2d37415922c60","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5378b93b5f482670","type":"ui_group","name":"LM35
Tempreture","tab":"e3c2d37415922c60","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e3c2d37415922c60","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]